requests
streamlit>=1.32

psycopg2-binary>=2.9
python-dotenv>=1.0

pillow>=10.0
pandas>=2.0
numpy>=1.24

matplotlib>=3.7

# Subsystem 1 - ROI Extraction
opencv-python>=4.8

# Subsystem 2 - Object Classification
open-clip-torch>=2.20
torch>=2.0
torchvision>=0.15
safetensors>=0.4

# Subsystem 3 - Anomaly Detection
anomalib
tqdm>=4.65
scikit-learn>=1.3
seaborn>=0.12